 @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');
 *{
    font-family: 'Mulish';
 }
 .btn-primary{
   background: #FF5400;
   border-radius: 8px;
   border: 8px;
   padding: 15px 35px;
   color: #FFF;
text-align: center;
font-size: 20px;
font-weight: 800;

 }
 nav{
    padding: 50px 240px;
 }
 .travel_logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .travel_logo  ul{
    display: flex;
 }
 .travel_logo li{
    list-style: none;
    margin-right: 44px;
 }
 .travel_logo li a{
    text-decoration: none;
    color: var(--Dark-02, #424247);
text-align: center;
font-size: 18px;
font-weight: 400;

 }
 .travel_logo,.logo{
    display: flex;
    gap: 5px;
 }
 .World{
    color: #FF5400;  
 }
 .travel_logo h2{
    color: #131318;
font-size: 36px;
font-weight: 800;
 }
 /*banner start*/
.banner{
   align-items: center;
   width: 1170px;
height: 500px;
flex-shrink: 0;
padding: 200px 200px;
}
.banner img{
   max-width: 100%;
   height: auto;
}
.text{
   position: absolute;
   bottom:5%;
   left: 14%;
   border-radius: 16px;
   background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
  margin: 0 auto;
  padding: 39px 100px;
}
.text h1 {
   color: #FFF;
font-family: Mulish;
font-size: 64px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.text p{
   color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.input{
   display: flex;
   display: inline-flex;
   padding: 16px;
   align-items: flex-start;
   gap: 24px;
   border-radius: 8px;
background: rgba(255, 255, 255, 0.30);

}
.text input{
   width: 174px;
height: 52px;
flex-shrink: 0;
gap: 5px;
}
.btn-find{
   width: 174px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FF5400;
color: #FFF;
}
/*our popular tours*/
.container_2{
   display: flex;
   margin-top: 130px;
   gap: 100px;
   padding: 207px;
   
}
.container_2 h2{
   color: #131318;
   text-align: center;
   font-size: 40px;
   font-weight: 800;
}
.container_2 p{
   width: 525px;
   color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 1rem;
font-weight: 400;
/* 162.5% */
}
.container_2 li{
   width: 525px;
   color: rgba(19, 19, 24, 0.70);
   font-family: Mulish;
   font-size: 1rem;
   font-style: normal;
   font-weight: 400;
   line-height: 26px; 

}
.destination{
   text-align: center;
}
.destination h2{
   color: #131318;
text-align: center;
font-size: 40px;
font-weight: 800;
margin-top: auto;
}
.destination p{
   color: rgba(19, 19, 24, 0.70);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin: 15px; 
}
.Images{
   align-items: center;
   padding: 20px 200px;
   gap: 24px;
   margin: 0 auto;
   top: 200px;
   width: 100%;
   height: 100%;
}

.facts_card{
   justify-content: space-around;
   width: 700px;
height: 284px;
padding: 50px 450px;
color: #131318;
text-align: center;
font-size: 2.4rem;
font-weight: 800;
align-items: center;
}
.world{
width: 500px;
   height: 284px;
   flex-shrink: 0;;
border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
margin: 0 auto;
}
.best{
   width: 573px;
   height: 284px;
   border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
   margin: 0 auto;
}


.facts_card{
   display: flex;
   gap: 50px;
   text-align:left;

}
footer{
   align-items: center;
   padding: ;
   margin: 0 auto;
   text-align: center;

}
footer hr{
   width: 872px;
height: 1px;
}
footer .logo{
   padding: 0 600px;
}

/* main section*/
.news{
   display: flex;
   padding: 0 200px;
   gap: 24px;

}
.info{
   width: 474px;
   height: 422px;
   border-radius: 16px;
border: 1px solid #FF5400;
text-align: center;

}
.save_up{
   width: 324px;
height: 120px;
transform: rotate(-19.628deg);
border-radius: 16px;
background: #FF5400;
color: #FFF;
position: relative;
bottom: 200px;
left: 300px;
}
.save_up h3{
   color: #FFF;
text-align: center;
font-size: 24px;
font-weight: 400;
}
.save_up h2{
   color: #FFF;
font-size: 32px;
font-weight: 800;
}
.info h2{
   color: #131318;
   font-size: 24px;
   font-weight: 800;
}
.info p{
   width: 350px;
   color: #5A5A5D;
font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.info input{
   display: flex;
   margin: 0 auto;
   width: 393px;
height: 52px;
flex-shrink: 0;
 border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
border: none;

}
.btn-secondary{
   
   color: #FFF;
   border-radius: 8px;
background: #FF5400;
   width: 393px;
height: 52px;
flex-shrink: 0;
border: none;
}

/* responsive*/
@media screen and (max-width:576px){
   .container_2,
   .container,.destination
   ,.travel_logo,.footer{
     flex-direction: column;

   }

 .input{
   flex-direction: column;
 }
   .facts_card{
      flex-direction: column;
   }
   footer{
      justify-content: center;
   }
   .banner,.news{
      flex-direction: column;
   }
   .container_2 img{
    height: 540px: ;
    width: 550px;
   }
}
